div.admonition {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 7px;

  &.note, &.warning, &.error, &.seealso {
    @extend .z-depth-1;
    border-radius: 4px;
  }

  &.note {
    background-color: #e3f2fd;
  }

  &.warning {
    background-color: #009688;
    color: #ffffff;
  }

  &.error {
    background-color: #a72f0a;
    color: #ffffff;
  }
}

div.admonition dt {
  font-weight: bold;
}

div.admonition dl {
  margin-bottom: 0;
}

p.admonition-title {
  margin: 0px 10px 5px 0px;
  font-weight: bold;
}

div.body p.centered {
  text-align: center;
  margin-top: 25px;
}
