@charset "UTF-8";

// Mixins
@import "materialize/components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";
// Variables;
@import "variables";
// Reset
@import "materialize/components/normalize";
// components
@import "materialize/components/global";
@import "materialize/components/icons-material-design";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/roboto";
@import "materialize/components/typography";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tabs";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/dropdown";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/collapsible";
@import "materialize/components/materialbox";
@import "materialize/components/form";
@import "materialize/components/table_of_contents";
@import "materialize/components/sideNav";
@import "materialize/components/preloader";
@import "materialize/components/slider";
@import "materialize/components/date_picker/default.scss";
@import "materialize/components/date_picker/default.date.scss";
@import "materialize/components/date_picker/default.time.scss";
@import "prism";

body {
  background-color: #f4f4f4;
}

nav {
  ul {
    li {
      &:hover, &.active {
        background-color: #0197D8;
      }
    }
  }
}

#side-toc {

  > ul {
    margin-top: 0;
  }

  .collapsible-header.active {
    margin-bottom: 5px;
  }

  .mt-first {
    margin-top: 5px;
  }

  ul.collapsible-body {
    padding-bottom: 1rem;
  }

  ul.collapsible-body li, .mt-toclink {
    padding: 0 1rem;
  }

  a.current {
    font-weight: bold;
  }
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink,
caption:hover > a.headerlink,
p.caption:hover > a.headerlink,
div.code-block-caption:hover > a.headerlink {
  visibility: visible;
}

a.headerlink {
  visibility: hidden;
}

.toctree-wrapper > ul {
  margin: 0;
  padding: 10px 0 10px 20px;
  background-color: #f4f4f4;
}

#page-content-block {
  background-color: #fff;
  padding: 10px 0 0 15px;
  @extend .z-depth-1
}

.page-content {

  ul {
    margin: 0;
  }

  li {
    margin-left: 15px;
    list-style-type: disc;
  }

  li li {
    list-style-type: circle;
  }

  li li li {
    list-style-type: square;
  }
}

@media #{$small-and-down} {
  nav img {
    margin-top: 3px;
  }
}

@media #{$medium-and-up} {
  nav img {
    margin-top: 7px;
  }
}

@media #{$large-and-up} {
  nav img {
    margin-top: 7px;
  }
}

