@charset "UTF-8";

// Mixins
@import "materialize/components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";
// Variables;
@import "materialize/components/variables";
// Reset
@import "materialize/components/normalize";
// components
@import "materialize/components/global";
@import "materialize/components/icons-material-design";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/roboto";
@import "materialize/components/typography";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tabs";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/dropdown";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/collapsible";
@import "materialize/components/materialbox";
@import "materialize/components/form";
@import "materialize/components/table_of_contents";
@import "materialize/components/sideNav";
@import "materialize/components/preloader";
@import "materialize/components/slider";
@import "materialize/components/date_picker/default.scss";
@import "materialize/components/date_picker/default.date.scss";
@import "materialize/components/date_picker/default.time.scss";
@import "prism";

body {
  background-color: #f4f4f4;
}

nav {
  ul {
    li {
      &:hover, &.active {
        background-color: #0197D8;
      }
    }
  }
}

#content {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  nav img {
    margin-top: 3px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  nav img {
    margin-top: 7px;
  }
}

@media only screen and (min-width: 992px) {
  nav img {
    margin-top: 7px;
  }
}

